.section-box{
    margin: 2%;
    padding: 1%;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px -6px 6px 3px rgba(0,0,0,0.5) inset,  0px 6px 6px 3px rgba(0,0,0,0.5);
    border-radius: 20px;
}
.section-btn{
    width: 100%;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
    color: #888;
    background-color: #212529;
    margin: 2%;
    padding: 1%;
    transition: 0.3s;
}
.section-btn:focus{
    border: none;
}
.section-box:hover{
    border: none;
}
.section-btn-current{
    position: relative;
    top: 10px;
    color: #f8f9fa;
    text-shadow: 0px 0px 30px rgba(255,163,0, 1), 0px 0px 15px rgba(255,163,0, 1);
    box-shadow: 0px 6px 6px 3px rgba(0,0,0,0.5) inset, 0px -3px 6px 3px rgba(0,0,0,0.5);
}
.section-btn-current:hover{
    cursor: default;
}
.section-btn-dormant{
    box-shadow: 0px -6px 6px 3px rgba(0,0,0,0.5) inset,  0px 6px 6px 3px rgba(0,0,0,0.5);
}
.section-btn-dormant:hover{
    color: rgba(255,163,0, 1);
    text-shadow: 0px 0px 10px rgba(255,163,0, 1), 0px 0px 5px RGBA(0,0,0,0.1);
}
.section-btn-dormant:active{
    color: RGBA(248,249,250,1);
    text-shadow: 0px 0px 3px RGBA(248,249,250,1), 0px 0px 15px rgba(255,163,0, 1), 0px 0px 20px rgba(255,163,0, 1), 0px 0px 40px rgba(255,163,0, 1);
    /* box-shadow: 0px 6px 6px 3px RGBA(248,249,250,1) inset, 0px -6px 6px 3px RGBA(248,249,250,1); */
}
.section-container{
    margin: 2%;
    padding: 1%;
    width: 100%;
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    border-radius: 20px;
    color: #f8f9fa;
    background-color: #212529;
}